name: vinculo
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  riverpod: 2.6.1
  http: ^1.2.1
  flutter_riverpod: ^2.6.1
  riverpod_generator: ^2.0.0
  google_fonts: ^6.3.2
  intl: ^0.19.0
  go_router: ^14.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
